# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\rony\Desktop\math data\CUMCM2020-Desert-Game-main\CUMCM2020-Desert-Game-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
